{% extends 'layout.twig' %} 
{% block body %}
<h2>About</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit iusto illum placeat! At velit
    provident veniam ex. Nesciunt nihil atque possimus sed soluta porro sunt quae. Numquam provident sed et!
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, nobis hic, recusandae ut neque quidem
    cupiditate molestiae sit temporibus distinctio qui alias quod veritatis rerum vero, labore cumque
    placeat tenetur. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repudiandae inventore iusto
    ex, nemo similique excepturi soluta odio commodi aliquid dolore, asperiores omnis? Molestias rem animi,
    incidunt saepe eveniet sed perspiciatis.
    </p>
{% endblock %}