{% extends 'layout.twig' %}

{% block body %}
    <h1>Dashboard</h1>
    <ul class="blogger">
        <li><a href="/addBlog">Add Blog</a></li>
        <li><a href="/addUser">Add Users</a></li>
    </ul>
{% endblock %}
