{% extends 'layout.twig' %}
{% block body %}
    <form class="blogger" action="#" method="post">
        <div>
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre">
        </div>
        <div>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email">
        </div>
        <div>
            <label for="mensaje">Mensaje:</label>
            <textarea id="mensaje" name="mensaje"></textarea>
        </div>
        <div>
            <input type="submit" value="Enviar">
        </div>
    </form>
{% endblock %}